.container-fluid
  .card.mb-3
    .card-header
      %i.fas.fa-chart-area
      %h3
        修改个人密码
        %h3
    .card-body.col-md-6
      .form-group{:style => "position: relative"}
        %p{:style => "margin-top:10px;"}
          
      = form_for @user do |f|
        
        %input{type: :hidden, name: :by, value: :update_password}
        .form-group
          = f.label :请选择头像：
          = f.file_field :picture
          = image_tag url_for(@user.picture)
        
          %br 
          %br
        .form-group
          = f.label :邮箱
          = @user.email
        .form-group
          = f.label :旧密码
          %br/
          = f.password_field :current_password,
            class:"form-control", placeholder:"请输入旧密码"
        .form-group
          = f.label :新密码
          %br/
          = f.password_field :password,
            class:"form-control", placeholder:"请输入新密码 "
        .form-group
          = f.label :确认密码
          %br/
          = f.password_field :password_confirmation,
            class:"form-control", placeholder:"请输入确认密码"
        %p= f.submit "保存", class:"btn btn-w-m btn-info"