%section.content
  .row
    .col-md-6
      .box.box-default
        .box-header.with-border
          %h3.box-title 添加用户
        = form_for @user , html: {class: "form-horizontal"} do |f|
          .box-body
            .form-group
              = f.label :邮箱, class: "col-sm-2 control-label"
              .col-sm-10
                = @user.email
            .form-group
              = f.label :旧密码, class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :current_password, class:"form-control", placeholder:"请输入旧密码"
            .form-group
              = f.label :新密码, class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :password, class:"form-control", placeholder:"请输入新密码 "
            .form-group
              = f.label :确认密码, class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :password_confirmation, class:"form-control", placeholder:"请输入确认密码"
          .box-footer
            = f.submit "保存", class:"btn btn-w-m btn-info pull-right"