%section.content
  .row
    .col-md-6
      .box.box-default
        .box-header.with-border
          %h3.box-title 查看用户
        .box-body
          .form-horizontal
            .form-group
              %label.col-sm-3.control-label 真实名字
              .col-sm-9
                = @user.name
            .form-group
              %label.col-sm-3.control-label 用户名
              .col-sm-9
                = @user.email
            .form-group
              %label.col-sm-3.control-label 请选择角色
              .col-sm-9
                = @user.role.name
            .form-group
              %label.col-sm-3.control-label 请选择部门
              .col-sm-9
                = @user.department.name
            .form-group
              %label.col-sm-3.control-label 请选择性别
              .col-sm-9
                = @user.sex
            .form-group
              %label.col-sm-3.control-label 电话
              .col-sm-9
                = @user.phone_number
            .form-group
              %label.col-sm-3.control-label 登录密码
              .col-sm-9
                = @user.password
            .form-group
              %label.col-sm-3.control-label 请选择状态
              .col-sm-9
                = @user.status
            .form-group
              %label.col-sm-3.control-label 单价（元）
              .col-sm-9
                = @user.price
            .form-group
              %label.col-sm-3.control-label 备注信息
              .col-sm-9
                = @user.explain
        .box-footer
          = link_to "返回", users_url, class: "btn btn-default pull-right"

