.container-fluid
  .card.mb-3
    .card-header
      %i.fas.fa-chart-area
      %h3
        修改个人密码
        %h3
    .card-body.col-md-6
      .form-group
        %img{:alt => "a3", :src => "/assets/a3"}/
        %p
          %button.btn.btn-w-m.btn-info{:type => "button"} 上传头像
      = form_for :user, url: up_password_users_path do |f|
        .form-group
          = f.label :邮箱
          %br/
          = f.text_field :email,                      |
            class:"form-control", placeholder:"请输入邮箱" |
        .form-group
          = f.label :旧密码
          %br/
          = f.text_field :old_password,                    |
            class:"form-control", placeholder:"请输入旧密码" |
        .form-group
          = f.label :新密码
          %br/
          = f.text_field :password,                     |
            class:"form-control", placeholder:"请输入新密码 " |
        .form-group
          = f.label :确认密码
          %br/
          = f.text_field :password_confirmation,                     |
            class:"form-control", placeholder:"请输入确认密码" |
        %p= f.submit "保存", class:"btn btn-w-m btn-info"
