<div id="content-wrapper">

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    客户管理</div>
  <div class="card-body">
          <civ class="row">
            <span>客户名：<input type="search" class="form-control form-control-sm"  aria-controls="client"  placeholder="客户名"></span>
            <button type="button" class="elements-on-right btn-primary ">
            搜索
           </button>
          </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="client" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>编号</th>
            <th>单位名称</th>
            <th>项目名称</th>
            <th>联系人</th>
            <th>客户电话</th>
            <th>客户职位</th>
            <th>邮箱地址</th>
            <th>支持地址</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <% @customerContacts.each do |customerContact| %>
          <tr>
            <td><%= customerContact.id %></td>
            <td><%= "中国移动" %></td>
            <td><%= "项目经理" %></td>
            <td><%= customerContact.name %></td>
            <td><%= customerContact.telephone %></td>
            <td><%= customerContact.position %></td>
            <td><%= customerContact.email %></td>
            <td><%= customerContact.address %></td>
            <td><a href="#">添加</a>&nbsp;<a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--分页-->
    <div class="row elements-on-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">上一页</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
  </nav>
  </div>

</div>