%section.content-header
  %h1 系统首页
  %ol.breadcrumb
    %li
      %button.btn.btn-default
        %i.fa.fa-refresh
        刷新
%section.content
  .row
    .col-md-3.col-sm-6.col-xs-12
      .info-box
        %span.info-box-icon.bg-aqua
          %i.fa.fa-file-text-o
        .info-box-content
          %span.info-box-text 所有项目
          %span.info-box-number
            = @projects.size
          = link_to '查看所有项目列表', projects_path()
    .col-md-3.col-sm-6.col-xs-12
      .info-box
        %span.info-box-icon.bg-green
          %i.fa.fa-tasks
        .info-box-content
          %span.info-box-text 我的任务
          %span.info-box-number
            = @projects.size
    .col-md-12
      .box.box-default.box-solid
        .box-header.with-border
          %h3.box-title 待处理事务/已办事项
        .box-body
          .row
            .col-lg-3.col-md-4.col-xs-6
              .box.box-default.box-solid{:style => "margin-bottom:10px"}
                .box-body.with-border
                  = link_to projects_url do
                    我的项目
                    .box-tools.pull-right
                      = current_user.projects.size
            .col-lg-3.col-md-4.col-xs-6
              .box.box-default.box-solid{:style => "margin-bottom:10px"}
                .box-body.with-border
                  = link_to approving_projects_url do
                    我的申请
                    .box-tools.pull-right
                      = current_user.projects.approving.size
            .col-lg-3.col-md-4.col-xs-6
              .box.box-default.box-solid{:style => "margin-bottom:10px"}
                .box-body.with-border
                  = link_to todo_projects_url do
                    我的待办
                    .box-tools.pull-right
                      = Project.todo(current_user.id).size
    .col-md-12
      .box.box-default.box-solid
        .box-header.with-border
          %h3.box-title 快捷入口
        .box-body
          .col-lg-2.text-center
            = link_to approving_projects_url do
              .btn.btn-group-vertical.bg-aqua{:style => "width:120px;"}
                .icon
                  %i.fa.fa-tasks{:style => "font-size:40px;"}
                流程发起
          .col-lg-2.text-center
            = link_to approving_projects_url do
              .btn.btn-group-vertical.bg-maroon{:style => "width:120px;"}
                .icon
                  %i.fa.fa-list-ul{:style => "font-size:40px;"}
                发起变更流程
          .col-lg-2.text-center
            = link_to users_url do
              .btn.btn-group-vertical.bg-navy{:style => "width:120px;"}
                .icon
                  %i.fa.fa-user-o{:style => "font-size:40px;"}
                用户管理
    .col-md-12
      .box.box-default.box-solid
        .box-header.with-border
          %h3.box-title 项目统计
        .box-body
          .col-lg-2.text-center
            .btn.btn-group-vertical
              .text-red{:style => "font-size:40px;"} 
                = find_by_status_projects_path('doing').size
              正在进行中
          .col-lg-2.text-center
            .btn.btn-group-vertical
              .text-red{:style => "font-size:40px;"}
                = find_by_status_projects_path('done').size
              已完成 年/单位
    .col-md-12
      .box.box-default.box-solid
        .box-header.with-border
          %h3.box-title 人力成本统计
        .box-body
          .row
            .col-md-2.text-left
              %h4
                %strong 项目列表
            .col-md-10.text-right
              .col-md-8.text-right{:style => "padding-top: 8px;"}
                = link_to root_url(type: 'week') do
                  %span -本周&nbsp;&nbsp;
                = link_to root_url(type: 'month') do
                  %span -本月&nbsp;&nbsp;
                = link_to root_url(type: 'quarter') do
                  %span -本季度&nbsp;&nbsp;
              .col-md-4
                = form_with url: root_path(type: 'select_date'), method: :get do |f|
                  = f.submit "查询", class: "btn btn-success pull-right col-md-3 margin-l-5 margin-r-5", id: "action_query"
                  .input-group.date
                    .input-group-addon
                      %i.fa.fa-calendar
                    = f.text_field :graduation_day, class: "form-control date-range-picker"
          .row
            .col-md-5
              .box
                .box-header{:style => "margin-bottom:20px"}
                  %span TOP前五项目排名
                  .box-tools{:style => "display:flex"}
                    .input-group.input-group-sm.hidden-xs{:style => "width: 150px"}
                      %input.form-control.pull-right{:type => "text", :placeholder => "搜索"}
                      .input-group-btn
                        %button.btn.btn-primary{:type => "submit"}
                          %i.fa.fa-search
                .box-body.table-responsive.no-padding
                  .col-md-6.text-center
                    - @project_top_5.each do |project|
                      %p
                      %a{:href => "#"} 
                        = project.project.name
                      
                  .col-md-3
                  .col-md-3.hidden-xs.text-right
                    .row.text-center{:style => "display:inline-block;margin-bottom: 20px"}
                      %h5.text-navy{:style => "margin: 5px 0"} 本月成本总数
                      - if @comparison_month >= 0
                        %h2{:style => "margin:5px 0"} 
                          = @current_month
                        .text-green.inline
                          %i.fa.fa-sort-asc{:style => 'vertical-align: middle; margin-top: 3px;'}
                          %span
                            = @comparison_month
                          %span{:style => 'color: #999; margin-left: 10px;'} %同比上月
                      -else 
                        %h2{:style => "margin:5px 0"}
                          = @current_month
                        .text-red{:style => 'display:inline-block'}
                          %i.fa.fa-sort-desc{:style => 'vertical-align: middle; margin-top: -7px;'}
                          %span 
                            = @comparison_month
                          %span{:style => 'color: #999; margin-left: 10px;'} %同比上月
                        
                    .row.text-center{:style => "display:inline-block;"}
                      %h5.text-navy{:style => "margin: 5px 0"} 本周成本数量
                      - if @comparison_week >= 0
                        %h2{:style => "margin:5px 0"} 
                          = @current_week
                        .text-green.inline
                          %i.fa.fa-sort-asc{:style => 'vertical-align: middle; margin-top: 3px;'}
                          %span 
                            = @comparison_week
                          %span{:style => 'color: #999; margin-left: 10px;'} %同比上周
                      -else
                        %h2{:style => "margin:5px 0"} 
                          = @current_week
                        .text-red{:style => 'display:inline-block'}
                          %i.fa.fa-sort-desc{:style => 'vertical-align: middle; margin-top: -7px;'}
                          %span 
                            = @comparison_week
                          %span{:style => 'color: #999; margin-left: 10px;'} %同比上周
            .col-md-7
              .box
                .box-header
                  %span 近一周统计数据
                .box-body
                  #main{:style => "width: 100%;height:400px;"}
                  .chart-area
                    .chartjs-size-monitor
                      .chartjs-size-monitor-expand
                        %div
                      .chartjs-size-monitor-shrink
                        %div

%script{:src => "/assets/echats/echarts.min.js", :type => "text/javascript"}
:javascript
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));
    console.log("#{@result_date}")
    console.log("#{@result_date2}")
  option = {
    title: {
        text: ''
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['成本统计']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: "#{@result_time}".replace("[", "").replace(/&quot;/g, "").replace("]", "").split(",")
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'成本统计',
            type:'line',
            stack: '总量',
            data:#{@result_date}
        }
    ]
  };
  
  
  
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
