<div id="content-wrapper">
      <div class="container-fluid">

        <!-- 快捷入口-->
        <div class="card mb-3 col-md-6">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>基本信息
          </div>
          <div class="card-body">
         <%= form_for @project do |f| %>

                
          <%= f.fields_for :customer do |customer| %>
          <div class="form-group">
            # <%= f.label :单位名称 %><br>
              <%= customer.label :单位名称 %>
              <%= customer.text_field :name, class:"form-control", placeholder:"请输入单位名称" %>
          </div>
          <% end %>

          <div class="form-group">
            <%= f.label :项目名称 %><br>
            <%= f.text_field :name, class:"form-control", placeholder:"请输入项目名称" %>
          </div>
          <%= f.fields_for :customer do |customer| %>
            <%= customer.fields_for :customer_contacts do |contact| %>
              <div class="form-group">
                <%= contact.label :联系人 %><br>
                <%= contact.text_field :name, class:"form-control", placeholder:"请输入联系人" %>
              </div>
              <div class="form-group">
              <%= contact.label :客户电话 %><br>
              <div class="form-inline">
                <%= contact.text_field :telephone, class:"form-control col-md-6 col-xs-4", placeholder:"请输入客户号码" %>
                <%= contact.text_field :phone_number, class:"form-control col-md-6 col-xs-4", placeholder:"请输入客户手机号码" %>
            </div>  </br>
                <%= contact.text_field :other_phone, class:"form-control", placeholder:"请输入客户其它号码" %>
            </div>
            <% end %>
          </div>
    
        
          <% end %>
        
          <p><%= f.submit "提交", class:"btn btn-w-m btn-info" %></p></br></br>

          
          <% end %>
          </div>
        </div>

        <!-- 快捷入口-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>操作日志记录
          </div>
          <div class="card-body">

       

    <div class="table-responsive">
      <table class="table table-bordered" id="my_cost" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            
          </tr>
        </thead>
       
        <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            
          </tr>
          <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
            
          </tr>
          <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
      
          </tr>
          <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2012/03/29</td>
            <td>$433,060</td>
            
          </tr>
          <tr>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>33</td>
            <td>2008/11/28</td>
            <td>$162,700</td>
           
          </tr>
          <tr>
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>61</td>
            <td>2012/12/02</td>
            <td>$372,000</td>
           
          </tr>
          <tr>
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>59</td>
            <td>2012/08/06</td>
            <td>$137,500</td>
            
          </tr>
          <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
           
          </tr>
          <tr>
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>39</td>
            <td>2009/09/15</td>
            <td>$205,500</td>
            
          </tr>
          <tr>
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>23</td>
            <td>2008/12/13</td>
            <td>$103,600</td>
            
          </tr>
  
        </tbody>
      </table>
    </div>

    <!--分页-->
    <div class="row elements-on-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">上一页</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
    </nav>
  </div>
        </div>

      </div>
      <!-- /.container-fluid -->
    </div>

    <script type="text/javascript">
       function validate(){
        alert("111111111")
      }
    </script>