<div id="content-wrapper">
  <div class="container-fluid">
    <!-- 快捷入口-->
    <div class="card mb-12 col-md-12">
      <div class="card-header">
        <i class="fa fa-chart-area"></i><h3>添加项目</h3>
      </div>
      <div class="card-body">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">单位名称</h3>
            <div class="box-tools">
              <button type="button" class="btn btn-default" data-toggle="modal"
                data-target="#modal-new-customer">添加单位</button>
            </div>
          </div>
          <div class="box-body">
          <%= form_for :project, url: projects_path do |f| %>        
            <div class="form-group">
              <%= f.label :单位名称 %>
              <%= f.select(:customer_id, @customers.collect{|c| [c.name, c.id]}, {}, class: "form-control select2", id:"find_by_customer_id") %>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-body">
            <div class="row">
              <div class="box-header with-border">
                <h3 class="box-title">联系人</h3>
                <div class="box-tools">
                  <button class="btn btn-default" data-target="#modal-new-contact" data-toggle="modal" type="button"> 添加联系人</button>
                </div>
              </div>
              <div class="box-body">
                <table class="table table-bordered" id="customer_contacts_table">
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <%= f.label :项目名称 %><br>
          <%= f.text_field :name, class:"form-control", placeholder:"请输入项目名称" %>
        </div>
 
        <div class="form-group">
          <%= f.label :支持内容 %><br>
          <%= f.text_area :support_details, size: "24x3", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :建议派遣工程师 %><br>
            <%= f.select(:tech_auditor, @users.collect{|u| ["#{u.department.name.blank?}-#{u.name}-#{u.projects.size == 0 ? '空闲' : '忙碌'}", u.id]}, {}, class: "form-control select2") %>
        </div>

        <div class="form-group">
          <%= f.radio_button(:genre, "pre_sale") %>
          <%= label_tag(:genre, "售前") %>
          <%= f.radio_button(:genre, "after_sale") %>
          <%= label_tag(:genre, "售后") %>
        </div>

        <div class="form-group">
          <%= f.label :审核人 %><br>
            <%= f.select(:auditor, @users.collect{|u| ["#{u.department.name.blank?}-#{u.name}-#{u.projects.size == 0 ? '空闲' : '忙碌'}", u.id]}, {}, class: "form-control select2") %>
        </div>
        <p><%= f.submit "提交", class:"btn btn-w-m btn-info" %></p></br></br>
      </div>
    </div>
     <% end %>
  </div>
</div>

<!- 添加联系人 ->
<div class="modal fade" id="modal-new-contact">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加联系人</h4>
          </div>
          <div class="modal-body">
            <%= form_for :customer_contact, url: create_customer_contact_projects_path do |customer_contact| %>
              <div class="box-body">

                <div class="form-group">
                  <%= customer_contact.label :单位名称, class:"col-sm-2 control-label" %>                      
                  <div class="col-sm-10">
                    <%= customer_contact.select(:customer_id, @customers.collect{|c| [c.name, c.id]}, {}, class: "form-control", id:"customer_id") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= customer_contact.label :客户姓名, class:"col-sm-2 control-label" %>                      
                  <div class="col-sm-10">
                    <%= customer_contact.text_field :name, class:"form-control", placeholder:"客户姓名", id:"c_name" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">客户电话</label>
                  <div class="col-sm-10">
                    <div class="form-group" style="margin: 7px 0 10px;">
                      <%= customer_contact.label :电话号码 %>       
                      <%= customer_contact.text_field :telephone, class:"form-control", placeholder:"请输入电话号码", id:"c_telephone"  %>
                    </div>
                    <div class="form-group" style="margin: 5px 0 10px">
                      <%= customer_contact.label :手机号码 %>       
                      <%= customer_contact.text_field :phone_number, class:"form-control", placeholder:"请输入手机号码" %>
                    </div>
                    <div class="form-group" style="margin: 5px 0">
                      <%= customer_contact.label :其他号码 %>       
                      <%= customer_contact.text_field :other_phone, class:"form-control", placeholder:"请输入其他号码" %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= customer_contact.label :客户职位, class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= customer_contact.text_field :position, class:"form-control", placeholder:"请输入客户职位", id:"c_position" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= customer_contact.label :邮箱地址, class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <%= customer_contact.text_field :email, class:"form-control", placeholder:"请输入邮箱地址", id:"c_email" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= customer_contact.label :支持地址, class:"col-sm-2 control-label" %><br>
                  <div class="col-sm-10">
                    <%= customer_contact.text_area :address, size: "24x3", class: "form-control", id:"c_address" %>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
            <%= customer_contact.submit "保存", class:"btn btn-primary" %>  
          </div>
          <% end %>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
</div>

<!-修改联系人2->
<div class="modal fade" id="modal-new-contact2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改联系人</h4>
          </div>
          <div class="modal-body">
              <%= form_tag("/projects/1/update_customer_contact", method: "PATCH") do %>
              <div class="box-body">

                <div class="form-group"> 
                  <%= label_tag(:customer_id, "单位名称:", class:"col-sm-2 control-label") %>                  
                  <div class="col-sm-10">
                    <%= select_tag "customer_id", options_from_collection_for_select(@customers, "id", "name", "id"), class: "form-control"%></br>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:name, "客户姓名:", class:"col-sm-2 control-label") %>                    
                  <div class="col-sm-10">
                   <%= text_field_tag 'name', nil, class: 'form-control', placeholder:"请输入客户姓名", id:"u_name" %>

                  <%= text_field_tag 'customer_contact_id', nil, class: 'form-control', style:'display:none;', id:'u_id' %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag 'telephone', "客户电话:", class:"col-sm-2 control-label" %>
                  <div class="col-sm-10">
                    <div class="form-group" style="margin: 7px 0 10px;">
                      <%= label_tag(:q, "电话号码:") %>  
                      <%= text_field_tag 'telephone', nil, class: 'form-control', placeholder:"请输入电话号码", id:"u_telephone"  %>
 
                    </div>
                    <div class="form-group" style="margin: 5px 0 10px"> 
                      <%= label_tag(:phone_number, "手机号码:") %>      
                      <%= text_field_tag 'phone_number', nil, class: 'form-control', placeholder:"请输入手机号码", id:"u_phone_number"  %>
                    </div>
                    <div class="form-group" style="margin: 5px 0">
                      <%= label_tag(:other_phone, "其他号码:") %>       
                      <%= text_field_tag 'other_phone', nil, class: 'form-control', placeholder:"请输入其他号码", id:"u_other_phone"  %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:position, "客户职位:", class:"col-sm-2 control-label") %>
                  <div class="col-sm-10">
                    <%= text_field_tag 'position', nil, class: 'form-control', placeholder:"请输入客户职位", id:"u_position" %><br>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:email, "邮箱地址:", class:"col-sm-2 control-label") %>
                  <div class="col-sm-10">
                    <%= text_field_tag 'email', nil, class: 'form-control', placeholder:"请输入邮箱地址", id:"u_email" %><br>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag(:address, "支持地址:", class:"col-sm-2 control-label") %><br>
                  <div class="col-sm-10">
                    <%= text_area_tag 'address', nil, class: 'form-control', id:"u_address" %>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
            <%= submit_tag("保存") %>  
          </div>
          <% end %>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-new-customer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加单位</h4>
          </div>
          <div class="modal-body">                         
            <%= form_for :customer, url: create_customer_projects_path do |customer| %>
              <div class="box-body">
                <div class="form-group">
                  <%= customer.label :单位名称, class:"col-sm-2 control-label" %>                      
                  <div class="col-sm-10">
                    <%= customer.text_field :name, class:"form-control", placeholder:"请输入单位名称" %>
                  </div>
                </div>
              </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
            <%= customer.submit "保存", class:"btn btn-primary" %>  
            <% end %>
          </div>
        </div>
      </div>
</div>












</br></br></br></br></br></br></br></br></br></br></br></br></br>

<script type="text/javascript">
  $(document).ready(function() {
    var customer_id = $("#find_by_customer_id").val();

    ajax_request(customer_id);
    $("#find_by_customer_id").change(function(){
      var customer_id = $("#find_by_customer_id").val();
      $("#find_by_customer_id").val(customer_id)     
      ajax_request(customer_id);
    });

  });


  function ajax_request(customer_id) {
    var url = "http://" + window.location.host + "/customer_contacts/find_by_customer_id";
      $.ajax({
        type: "GET",
        url:url,
        dataType:"json",
        data : {
          "customer_id" : customer_id
        },
        success : function(data) {
          $("#customer_contacts_table").html("");
          var add_html = "";
            add_html +="<tr><th>编号</th><th>姓名</th><th>电话</th><th>手机号码</th><th>其它号码</th><th>职位</th><th>邮箱</th><th>支持地址</th><th>操作</th></tr>";
          for (var i = 0; i < data.length; i++) { 
              add_html +="<tr>"; 
              add_html +="<td class='c-id' value=''>"+data[i].id+"</td>"
              add_html +="<td class='c-name'>"+data[i].name+"</td>"
              add_html +="<td class='c-telephone'>"+data[i].telephone+"</td>"
              add_html +="<td class='c-phone_number'>"+data[i].phone_number+"</td>"
              add_html +="<td class='c-other_phone'>"+data[i].other_phone+"</td>"
              add_html +="<td class='c-position'>"+data[i].position+"</td>"
              add_html +="<td class='c-email'>"+data[i].email+"</td>"
              add_html +="<td class='c-address'>"+data[i].address+"</td>"
              add_html +="<td><button type='button' class='btn btn-sm btn-info b_btnSelect2' data-toggle='modal' data-target='#modal-new-contact2'>查看</button>&nbsp;&nbsp;"
              add_html +="<button type='button' class='btn btn-sm btn-info b_btnSelect2' data-toggle='modal' data-target='#modal-new-contact2'>修改</button></td>"
              add_html +="</tr>"   
          }
          $("#customer_contacts_table").append(add_html)     
        }  
      });
  }
 
    
    //修改
    $("#customer_contacts_table").on('click', '.b_btnSelect2', function() {
      //获得当前行
      var currentRow = $(this).closest("tr");
      var id = currentRow.find(".c-id").html(); //获得当前行第一个表格单元格TD值
      var name = currentRow.find(".c-name").html(); //获得当前行第一个表格单元格TD值
      var telephone = currentRow.find(".c-telephone").html(); //获得当前行第二个表格单元格TD值
      var phone_number = currentRow.find(".c-phone_number").html(); //获得当前行第二个表格单元格TD值
      var other_phone = currentRow.find(".c-other_phone").html(); //获得当前行第二个表格单元格TD值
      var position = currentRow.find(".c-position").html(); //获得当前行第一个表格单元格TD值
      var email = currentRow.find(".c-email").html(); //获得当前行第一个表格单元格TD值
      var address = currentRow.find(".c-address").html(); //获得当前行第一个表格单元格TD值
      var data = id + "\n" + name + "\n" + telephone + "\n" + position + "\n" + email + "\n" + address;
      //alert(data);
      $("#u_id").val(id);
      $("#u_name").val(name);
      $("#u_telephone").val(telephone);
      $("#u_phone_number").val(phone_number);
      $("#u_other_phone").val(other_phone);
      $("#u_position").val(position);
      $("#u_email").val(email);
      $("#u_address").val(address);
    });

  

</script>
