<div id="content-wrapper">

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    我的代办</div>
  <div class="card-body">

          <civ class="row">
            <span>项目名称：<input type="search" class="form-control form-control-sm"  aria-controls="my_todo"  placeholder="项目名称"></span>
            <button type="button" class="elements-on-right btn-primary ">
            搜索
           </button>
          </div>

    <div class="table-responsive">
    <table class="table table-bordered" id="my_approve" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>编号</th>
        <th>项目名称</th>
        <th>项目编码</th>
        <th>处理环节</th>
        <th>流程状态</th>
        <th>单位名称</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.number %></td>
        <td><%= project.genre_name %></td>
        <td><%= project.status_name %></td>
        <td><%= project.customer.name %></td>
        <td><%= project.approved_at %></td>
        <td><%= project.done_at %></td>
  
        <td><a href="#">审核</a></td>
      </tr>
     <% end %>
  
    </tbody>
  </table>
      </table>
    </div>

    <!--分页-->
    <div class="row elements-on-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">上一页</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
  </nav>
  </div>

</div>