.box-header
  .row
    .col-md-6
      %h3.box-title 数据列表
    .col-md-6
      .pull-right-container
        = link_to "添加", new_customer_contact_path, class: "btn btn-success pull-right col-md-3 margin-l-5 margin-r-5" 
.box-body
  %table.table.table-hover
    %tbody
      %tr
        %td 编号
        %td 单位名称
        %td 联系人
        %td 客户电话
        %td 客户职位
        %td 邮箱地址
        %td 支持地址
        %td 操作
    - @customer_contacts.each do |customer_contact|
      %tr
        %td
          = customer_contact.id
        %td
          = customer_contact.position
        %td
          = customer_contact.name
        %td
          = customer_contact.telephone
        %td
          = customer_contact.position
        %td
          = customer_contact.email
        %td
          = customer_contact.address
        %td
          = link_to '查看', customer_contacts_url
          = link_to "编辑", edit_customer_contact_path(customer_contact)
          = link_to "删除", customer_contact_path(customer_contact),
                  method: :delete,
                  data: { confirm: 'Are you ucustomerser?' }
.box-footer.clearfix
  =paginate @customer_contacts