.box-header
  .row
    .col-md-6
      %h3.box-title 数据列表
    .col-md-6
      .pull-right-container
        = link_to "添加", new_role_path, class: "btn btn-success pull-right col-md-3 margin-l-5 margin-r-5"
.box-body
  %table.table.table-hover
    %tbody
      %tr
        %td 序号
        %td 角色类型
        %td 角色名称
        %td 角色定义说明
        %td 更新时间
        %td 状态
        %td 操作
    - @roles.each do |role|
      %tr
        %td
          = role.id
        %td
          "类型"
        %td
          = role.name
        %td
          = role.explain
        %td
          = role.updated_at
        %ed
        %td
          = link_to "查看", role_path(role)
          = link_to "权限设置", role_permission_roles_url
          = link_to "编辑", edit_role_path(role)
          = link_to "删除", role_path(role),
                  method: :delete,
                  data: { confirm: 'Are you role?' }
.box-footer.clearfix
  =paginate @roles
