<div id="content-wrapper">

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    角色管理</div>
  <div class="card-body">
          <civ class="row">
            <span>角色名称：<input type="search" class="form-control form-control-sm"  aria-controls="role"  placeholder="角色名称"></span>
            <button type="button" class="elements-on-right btn-primary ">
            搜索
           </button>
          </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="role" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>序号</th>
            <th>角色类型</th>
            <th>角色名称</th>
            <th>角色定义说明</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
        </thead>
       
        <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.id %></td>
            <td><%= role.type %></td>
            <td><%= role.name %></td>
            <td><%= role.permissions %></td>
            <td><%= role.updated_at %></td>
            <td><a href="#">添加</a>&nbsp;<a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
          </tr>
          <% end %>
  
        </tbody>
      </table>
    </div>

    <!--分页-->
    <div class="row elements-on-right">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">上一页</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">下一页</a></li>
    </ul>
  </nav>
  </div>

</div>