!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %title HTHL PMS-主页
  %body.skin-blue.sidebar-mini
    - if notice
      .callout.callout-info.margin-bottom-none{:role => "alert"}= notice
    - if alert
      .callout.callout-info.margin-bottom-none{:role => "alert"}= alert
    .wrapper
      %header.main-header
        = link_to root_path, class: 'logo' do
          %span.logo-mini PMS
          %span.logo-lg
            %b> HTHL
            \.PMS
        %nav.navbar.navbar-static-top
          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown.user.user-menu.notifications-menu
                = link_to "#", class: "dropdown-toggle", 'data-toggle': "dropdown" do
                  = image_tag "a3", class: "user-image", alt: "User Image"
                  %span.hidden-xs
                    = current_user.name
                %ul.dropdown-menu
                  %li
                    %ul.menu
                      %li.user-body
                        = link_to edit_user_url(current_user, {by: :update_password}) do
                          %i.fa.fa-lock
                          %span 修改个人密码
                        = link_to edit_user_url(current_user) do
                          %i.fa.fa-info
                          %span 修改个人信息
                      %li.user-footer
                        = link_to destroy_user_session_url class: "btn btn-default btn-flat" do
                          %i.fa.fa-sign-out
                          %span 退出登录
              -#%li.dropdown.user.user-menu
      = render "layouts/menu"
      .content-wrapper
        = yield