!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title HTHL PMS
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.login-page
    - if notice
      .callout.callout-info.margin-bottom-none{role: "alert"}= notice
    - if alert
      .callout.callout-info.margin-bottom-none{role: "alert"}= alert
    = yield